{% extends 'store/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br/><br/>
            <h2>Checkout</h2>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <ul class="list-group list-group-flush">
                        {% for item in request.user.cart_set.all %}
                        <li class="list-group-item">
                            {{ item.product.name }} - {{ item.quantity }} x ${{ item.product.price }}
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="mt-3">
                        <strong>Total: ${{ request.user.cart_set.total_price }}</strong>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Payment Method</h5>
                    <form method="post" action="{% url 'process_payment' %}">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment_method" id="credit_card" value="credit_card" checked>
                            <label class="form-check-label" for="credit_card">
                                Credit Card (Simulated)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment_method" id="paypal" value="paypal">
                            <label class="form-check-label" for="paypal">
                                PayPal (Simulated)
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Complete Payment</button>
                        <a href="{% url 'view_cart' %}" class="btn btn-outline-secondary mt-3">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}